body {
    margin: 0;
    color: #FFF;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background: rgb(152, 210, 233);
    /*background: url('../images/some-squares.png')*/
}

* {
    vertical-align: top;
}

a {
    color: #FFF;
    text-decoration: none;

    &:hover {
        border-bottom: 2px solid #FFF;
    }
}

.wrapper {
    width: 960px;
    margin: 0 auto;

    h1 {
        margin-bottom: 30px;
        text-align: center;
        font-size: 100px;   
        font-family: 'Nixie One', cursive;    
    }

    hr {
        margin: 5px;
        border: none;
        border-top: 1px solid #FFF;
    }

    p {
        padding: 20px 40px;
        margin-bottom: 50px;
        border-radius: 5px;
        text-shadow: 0 1px #00B5C5;
        font-family: 'Nixie One', cursive;
        font-size: 22px;
        line-height: 44px;
        box-shadow: inset 0px 0px 90px 2px #85C4DF;

        span {
            border-bottom: 2px solid #FFF;
            box-shadow: 0 1px #00B5C5;
        }
    }

    .v {
        font-size: 24px;
        font-weight: lighter;
        margin-bottom: -14px;
        display: block;
        text-align: center; 
    }

    h3 {
        font-size: 30px;
        text-align: center;
        font-family: 'Nixie One', cursive;
    }
}

.description {
    width: 800px;
    margin: 0 auto;
}

.hide-overflow {
    width: 800px;
    height: 710px;
    margin: 0 auto 40px;
    overflow: hidden;
    position: relative;
}

.slider {
    width: 5000px;
    position: absolute;
    left: 0px;

    .showcase {
        width: 800px;
        margin-left: -4px;
        display: inline-block;

        -webkit-transition: all .3s ease;

        img {
            width: 100%;
        }
    }

    :first-child {
        margin-left: 0;
    }
}

.selector {
    width: 792px;
    height: 250px;
    margin: 0 auto 40px;
    border-radius: 12px;
    border: 4px solid #85C4DF;
    overflow-y: scroll;

    .mini-slider {
        // width: 1312px;
        width: 1048px;

        .thumbnail {
            width: 232px;
            height: 207px;
            margin: 22px 0 0 24px;
            overflow: hidden;
            display: inline-block;
        }

        img {
            width: 100%
        }
    }

}




